/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
hold.txt
.DS_Store


/notification/src/node_modules
/notification/src/public/hot
/notification/src/public/storage
/notification/src/storage/*.key
/notification/src/vendor
/notification/src/.env
/notification/src/.env.backup
/notification/src/.phpunit.result.cache
/notification/src/docker-compose.override.yml
/notification/src/Homestead.json
/notification/src/Homestead.yaml
/notification/src/npm-debug.log
/notification/src/.phpunit.result.cache
/notification/src/yarn-error.log
/notification/src/.idea
/notification/src/.vscode


/user/src/node_modules
/user/src/public/hot
/user/src/public/storage
/user/src/storage/*.key
/user/src/vendor
/user/src/.env
/user/src/.env.backup
/user/src/.phpunit.result.cache
/user/src/.phpunit.cache
/user/src/docker-compose.override.yml
/user/src/Homestead.json
/user/src/Homestead.yaml
/user/src/npm-debug.log
/user/src/.phpunit.result.cache
/user/src/yarn-error.log
/user/src/.idea
/user/src/.vscode
/user/mysql/data

/broker/rabbitmq

.gitattributes
